<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
  <form method='post' action= '/login'>
  <input type='text' id='username' placeholder='username' name='username' />
  <input type='password' id='password' placeholder='password'name='password'/>
  <input type='submit' id='login'/> login
  </form>
  </body>
</html>
